
@import url('https://fonts.cdnfonts.com/css/wasted-vindey');
@import url(https://db.onlinewebfonts.com/c/24361a4e963fa4ff083fd6f05798ffdb?family=Wasted+Vindey);


.logo{
  font-family: Wasted Vindey, sans-serif;
} 
 
.navbar-light-text {
    color: rgb(0, 0, 0);
    font-family: Wasted Vindey, sans-serif;

}
  


.navbar-light-text .btn-ghost svg {
    stroke: rgb(9, 9, 9);
}




.navbar-light-text .btn-ghost:hover span {
  color: #1f2937 ; 
}

.navbar-light-text .btn-ghost:hover svg {
  stroke: #1f2937 ; 
}

.navbar-light-text .btn-ghost:hover span {
    color: #1f2937 !important;
}

.navbar-light-text .btn-ghost:hover svg {
    stroke: #1f2937 !important; 
}

.navMenu {
  display: flex ;
    align-items: center;
    gap: 40px;
    
 
}

.navMenu a{
  
   color: rgb(2, 2, 2);
   font-family: Wasted Vindey, sans-serif;
   font-weight: 500;
   
 

  cursor: pointer;

    position: relative;
}



.navMenu a::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(131, 115, 127);
    border-radius: 5px;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
    bottom: 0;
    left: 0;
}


.navMenu a:hover::before {
    transform: scaleX(1);
}

.navMenu a:global(.active)::before {
    transform: scaleX(1);
      
}

