

@import url(https://db.onlinewebfonts.com/c/24361a4e963fa4ff083fd6f05798ffdb?family=Wasted+Vindey);


.logo{
  font-family: Wasted Vindey, sans-serif;
} 
 
.navbar-light-text {
    color: rgb(0, 0, 0);
    font-family: Wasted Vindey, sans-serif;

}
  


.navbar-light-text .btn-ghost svg {
    stroke: rgb(9, 9, 9);
}




.navbar-light-text .btn-ghost:hover span {
  color: #1f2937 ; 
}

.navbar-light-text .btn-ghost:hover svg {
  stroke: #1f2937 ; 
}

.navbar-light-text .btn-ghost:hover span {
    color: #1f2937 !important;
}

.navbar-light-text .btn-ghost:hover svg {
    stroke: #1f2937 !important; 
}

.navMenu {
  display: flex ;
    align-items: center;
    gap: 40px;
    
 
}

.navMenu li{
  
   color: rgb(2, 2, 2);
   font-family: Wasted Vindey, sans-serif;
 

  cursor: pointer;

    position: relative;
}

.navMenu li::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(131, 115, 127);
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;

    bottom: 0;
    left: 0;

}

.navMenu li:hover::before {
    transform: scaleX(1);

}

#cart-btn{
  position: relative;

}

/* 
.navMenu .active {
  padding-bottom: 2px;
  border-bottom: 2px solid  #49557e;
  transition: 300s;
} */