/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #e5ecf2, #eaebf1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus+label,
.input-group input:valid+label {
    top: -18px;
    font-size: 13px;
    color: #0f0f10;
}

button {
    width: 100%;
    padding: 12px;
    background: #090909;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #404041;
}

.message {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.message a {
    color: #0b0b0b;
    text-decoration: none;
}