body{
    font-family: Louis Vuitton Web, Louis Vuitton Web Fallback,
          Helvetica Neue, Helvetica, Arial, sans-serif;

}

  
 
    /* === 4. Scrollbar Styling (New Section) === */
    body {
      /* Standard CSS property: thumb track */
      scrollbar-color: rgba(66, 65, 65, 0.87) #000000;
      /* Also recommended for better cross-browser compatibility */
      scrollbar-width: thin;
    }

    /* WebKit browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 8px;
      /* Set a narrow width */
    }

    /* The fixed track background */
    ::-webkit-scrollbar-track {
      background: #4241419a;
      /* Light gray track */
    }

    /* The moveable thumb indicator (The part you want black) */
    ::-webkit-scrollbar-thumb {
      background: rgba(12, 12, 12, 0.616);
      border-radius: 10px;
      /* Optional: adds rounded corners */
    }

    .lv-font {
      font-family: Louis Vuitton Web, Louis Vuitton Web Fallback,
        Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 16px;
    }

    .carousel-item-full {
      min-height: 90vh;
    }



.navbar-light-text {
    color: white;
    transition: all 0.3s ease-in-out;
}


.navbar-light-text .btn-ghost svg {
    stroke: white;
}




.navbar-light-text .btn-ghost:hover span {
  color: #1f2937 !important; 
}

.navbar-light-text .btn-ghost:hover svg {
  stroke: #1f2937 !important; 
}

.navbar-light-text .btn-ghost:hover span {
    color: #1f2937 !important;
}

.navbar-light-text .btn-ghost:hover svg {
    stroke: #1f2937 !important; 
}



.navbar-scrolled {
    background-color: white !important;
    border: none;
    color: #1f2937 !important;
    text-shadow: none !important;
}


.navbar-scrolled .btn-ghost svg {
    stroke: currentColor;
}

.navbar-scrolled span {
    color: currentColor;
}