/* body{
    font-family: Louis Vuitton Web, Louis Vuitton Web Fallback,
          Helvetica Neue, Helvetica, Arial, sans-serif;

} */
/* body{
    font-family: "Wasted Vindey", sans-serif;

} */
 @import url(https://db.onlinewebfonts.com/c/24361a4e963fa4ff083fd6f05798ffdb?family=Wasted+Vindey);

    /* === 4. Scrollbar Styling (New Section) === */
    body {
      /* Standard CSS property: thumb track */
      scrollbar-color: rgba(66, 65, 65, 0.87) #000000;
      /* Also recommended for better cross-browser compatibility */
      scrollbar-width: thin;
    }

    /* WebKit browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 8px;
      /* Set a narrow width */
    }

    /* The fixed track background */
    ::-webkit-scrollbar-track {
      background: #4241419a;
      /* Light gray track */
    }

    /* The moveable thumb indicator (The part you want black) */
    ::-webkit-scrollbar-thumb {
      background: rgba(12, 12, 12, 0.616);
      border-radius: 10px;
      /* Optional: adds rounded corners */
    }

   

    .carousel-item-full {
      min-height: 85vh;
    }


